/* General */
* {
font-family: 'Work Sans', sans-serif;
color: #3f3f3f ;
/* color: #170000; */
/* color: #F9C18D; */
}

h2 {
    font-size: 20px;
}

.project-row {
    height: 300px;
}

.projects {
    padding-top: 50px;
    position: relative;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); */
    
}

.nav-btn {
    color: #3f3f3f ;
    margin: 150px 30px;
    
    width: 100px;
    padding: 5px;
}

body {
    background: linear-gradient(to bottom, #262626 0%, #3f3f3f  100%);
    background-attachment: fixed;
    height: 100%;

}
.box { 
    text-align: center;
    padding: 30px;
    color: #f1e76e;
}

.info {
    border: 1px solid #807A78;
    text-align: center;
    height: 100px;
    padding: 20px;
}
.main {
    margin-top: 150px;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 35px;;
    font-family: 'Work Sans', sans-serif;
}

/* about me page */
hr {
    background-color: #f1e76e;
    width: 400px
}

#about-img {
 box-shadow: 3px 3px 20px  rgba(0, 0, 0, 0.4);
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* portfolio page */

h2 {
    text-align: center;
}
  a {
    font-family: 'Work Sans', sans-serif;;
    font-size: 15px;
  }

  a:hover {
      color: black;

  }
  p {
      text-align: justify;
  }

  .margin {
      margin:2px;
  }

  .page-content {
      min-height: 100vh;
  }
.section-content {
    background-color: #f5f5f5;
    text-align: center;
    padding: 25px 25px 50px;
    margin: 25px 0;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.4);
}
 .img-container {
     position: relative;
     box-shadow: 3px 3px 20px  rgba(0, 0, 0, 0.4);
     background-color: #dcdcdc;
    }
.modal-click {
    cursor: pointer;
    transition: 0.3s;
}

.modal-img {
    display: block;
    width: 60%;
    max-width: 400px;
}
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height:100%;
    overflow: auto;
}

.close {
    position: absolute;
    top: 100px;
    right: 35px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}
.links {
    margin: 30px 5px;
}
 .img-cover {
     position: absolute;
     background-color:#262626 ;
     opacity: 0%;
     width: 100%;
     height: 100%;
     top: 0;
 }

 .img-cover:hover {
     opacity: 90%;
 }

  .port-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
  }
  /* .text-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262626;
  } */
  .text-link {
    color: #f5f5f5;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-block:hover {
    opacity: 90%;
  }

  /* contact page */
  .btn-primary 
  {
      background-color: #3f3f3f;
      border-radius: 0px;
      margin-bottom: 20px;
      border-color: #3f3f3f;
  }

  .btn-primary:hover {
      background-color: #3f3f3f;
      border-color: #3f3f3f;
  }

  label {
    color: gray;
    
}

form {
    text-align: justify;
}
.form-control {
    border-radius: 0px; 
  }
  
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .container {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-top: 5px solid #8FD8D2;
  }
  

h2 {
    font-size: 15px;
} 

/* Additional Screen Sizes - Media Quieries */

/* Width at 768px and below */
@media only screen and (max-width: 768px) {

    .container {
        width: 100%;
        margin-left: auto;
    }
    .nav-btn {
        margin: 2px;
        width: 75px;

    }
    .info {
        padding: 5px;
    }
    #about-img {
        width: 200px;
    }
}


/* Width at 640px and below */
    @media only screen and (max-width: 640px) {
        .section-content {
            width: 100%; 
            padding: 5px;
            margin: 0px;
        }

        .page-content {
            min-height: 0;
            margin-top: 20px;  
        }

        hr {
            display: none;
        }

        .projects {
            width: 100%;
        }

       .blanks {
           display: none;
       }

       form {
           display: none;
       }
       #about-img {
           display: none;
       }

    }

    